@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: hsl(36, 67%, 53%);
  font-family: "Coming Soon", cursive;
  display: grid;
}
p{
  font-size : 1.5em;
}
header {
  font-weight: 800;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  padding-top: 3rem;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  flex-wrap: wrap;
}
.bs {
  box-sizing: border-box;
}
.cs {
  box-sizing: content-box;
}
.card {
  background: hsl(0 0% 100% / 0.5);
  width: 25rem;
  height: 30rem;
  border-radius: 0.5rem;
  border: 1rem solid orange;
  box-shadow: 0 0 1rem hsl(0 0% 0% / 0.2);
  overflow: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
.card h2 {
  text-align: center;
  margin: 0.25rem;
}
.card p {
  display: block;
  padding: 0.5rem;
}
.card code {
  padding: 0.5rem;
  color: hsl(30, 97%, 15%);
  font-family: monospace;
  text-align: center;
  display: block;
}
